@font-face {
   font-family: "KarmaFuture";
   src: local("KarmaFuture"),
      url("../../Assets/KarmaFuture.ttf") format("truetype");
   font-weight: bold;
   font-display: swap;
}



body {

   overflow-x: hidden;

}
.webPage {
   font-family: "KarmaFuture";
}
.App {

   width: 70%;
   margin: 0 auto;

}