
swiper-slide, swiper-slide  {
    width: 10rem !important; 
    height: 10rem !important;
}

  .swiper-slide:hover .middle {
    opacity: .9;
    
  }

  .ReactModalPortal {
    z-index: 999;
    position: relative;
  }