:root {
  --test:url();
}


.item {
    min-width: 10rem;
    height:10rem;
    width: 10rem;
    padding: 1px ;
    margin-bottom: 20px;
}
.item img {
  min-width: 10rem;
  height:10rem;
  width: 10rem;
    object-fit: fill;
    object-position: 30% 30%;
    border-radius: 10px;
    pointer-events: none;

}


  .GameModal {
    
    background-image: var(--test);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px grey;
    object-fit: cover;
    object-position: 30% 30%;
    width: 400px;
    height: 500px;
    border-radius: 2%;
  }
  
  


  .gameName {
    display: none;
  }
  .gameName:hover {
    font-size: 50px;
  }
  .UserGameCard {
    height: 200px;
}
  .gameImage {
    border-radius: 2%;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .GameCard:hover .gameImage {
    opacity: 0.4;
  }
  
  .GameCard:hover .middle {
    opacity: 1;
  }
  .GameCard {
    min-width: 10rem;
    min-height: 10rem;
    height: 100%;
    cursor: pointer;
  }
  
  .text {
    color: white;
    font-size: 1vw;
    font-weight: 200;
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}


.GameComponent {
  height: 100%
}