img.RecgameImage {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}
.RecGameCard {
    position: relative;
    cursor: pointer;
}

.RecMiddle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}
.RecGameCard:hover .RecMiddle {
    opacity: 1;
  }
  .RecGameCard:hover .RecgameImage {
    opacity: 0.4;
  }
.innerRecGameCard {
    height: 100%;
}

.RecGameCard {
    height: 100%;
}
